/* Fonts */

/* open-sans-300 - latin_cyrillic */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"), url("../fonts/web/opensanslight.woff2") format("woff2"), url("../fonts/web/opensanslight.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-regular - latin_cyrillic */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url("../fonts/web/opensans.woff2") format("woff2"), url("../fonts/web/opensans.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* gilroy-300 */
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/web/gilroylight.woff2") format("woff2"), url("../fonts/web/gilroylight.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* gilroy-300 bold */
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("../fonts/web/gilroyextrabold.woff2") format("woff2"), url("../fonts/web/gilroyextrabold.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

*, *::before, *::after {
  box-sizing: border-box;
}

/* Variables */

.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

:root {
  --basic-black: #000000;
  --basic-dark: #363636;
  --basic-grey: #464646;
  --basic-half-grey: #7e7e7e;
  --basic-grey-light: #e5e5e5;
  --basic-white: #ffffff;
  --special-yellow-dark: #f0c52e;
  --special-yellow: #f7e296;
  --special-green: #91c92f;
  --status-pink: #f6dada;
  --transparent-black-strong: rgba(0, 0, 0, 0.3);
  --transparent-black-light: rgba(0, 0, 0, 0.6);
  --transparent-white-strong: rgba(255, 255, 255, 0.3);
}







/* Global */

body {
  min-width: 1440px;
  margin: 0;
  padding: 0;
  font-family: "Gilroy","Open Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: var(--basic-black);
  background-color: var(--basic-white);
  background-position: top;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
  color: var(--basic-black);
}

img {
  max-width: 100%;
  height: auto;
}


html,
body {
  min-width: 1440px;
  min-height: 2800px;
  background-color: var(--basic-white);
}

/* Grid */

.page-height {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: flex-start;
}


/* Header */

.header {
  position: relative;
  margin-top: 40px;
  min-height: 700px;
  padding: 0 140px;
}

.header-main {
  width: 1160px;
  margin: 0 auto;
  padding: 0;
}

.header-navigation__wrapper {
  width: 1160px;
  height: 300px;
  background-color: var(--special-yellow);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header-navigation {
  position: relative;
  display: flex;
  padding: 0 60px;
  min-width: 1040px;
  flex-direction: column;
  align-content: space-between;
}

.catalog-nav__wrapper {
  height: 186px;
  box-shadow: none;
}
.header-navigation__logo {
  position: absolute;
  width: 163px;
  height: 35px;
  top: -20px;
  left: 60px;
  
}

/* Container */


.header-navigation .container {
  display: flex;
  justify-content: space-between;
  padding-top: 44px;
  min-height: 50px;
}


/* Search-form */

form.search-form input[type=text] {
  width: 144px;
  float: left;
  padding: 0;
  margin: 0;
  margin-left: 24px;
  font-family: Open Sans;
  font-size: 15px;
  line-height: 20px;
  color: var(--transparent-black-strong);
  background-color: transparent;
  border: none;
}

form.search-form input[type=text]:hover {
  color: var(--transparent-black-light);
}

form.search-form input[type=text]:focus {
  position: absolute;
  padding-bottom: 15px;
  width: 440px;
  height: 50px;
  border-bottom: 2px solid var(--basic-black);
}

form.search-form button[type=submit] {
  display: none;
  width: 84px;
  height: 50px;
  padding: 13px 15px 15px 15px;
  font-family: Open Sans;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  border: 2px solid var(--basic-black);
  border: none;
  background-color: transparent;
}
form.search-form button[type=submit]:focus {
  display: block;
}

.search-icon {
  width: 16px;
  height: 16px;
  background-image: url("img/svg-device/search.svg");
  background-position: left center;
  background-repeat: no-repeat;
}

form.search-form::after {
  content: "";
  clear: both;
  display: table;
}

/* User-navigation */

.user-navigation {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  
  list-style: none;
  flex-wrap: wrap;
  align-content: flex-start;
}

.user-navigation__item {
  display: inline-block;
  margin-right: 41px;
}

.user-navigation__item:first-child {
  margin-right: 215px;
}

.user-navigation__item:last-child {
  margin: 0;
}
.user-navigation__item a {
  margin-left: 12px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px
}

.user-navigation__item a:hover {
  color: var(--transparent-black-light);
}

.user-navigation__item a:focus {
  color: var(--transparent-black-strong);
}



.main-menu {
  width: 1040px;
  margin: 0;
  margin-top: 6px;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  top: 114px;
}

.main-menu__item {
  margin-right: 38px;
}

.main-menu__item a {
  
  font-family: Gilroy;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 3.2px;
  text-transform: uppercase;
}

.main-menu__item:first-child {
  margin-right: 349px;
  letter-spacing: normal;
}

.main-menu__item:nth-child(3) {
  margin-right: 111px;
}

.main-menu__item:last-child {
  margin-right: 0;
}
.main-menu,
.submenu {
  list-style: none;
}

.main-menu > li {
  display: inline-block;
}



.main-menu__item a:hover {
  color: var(--transparent-black-light);
}

.main-menu__item a:focus {
  color: var(--transparent-black-strong);
}


.submenu-container {
  position: absolute;
  display: none;
  width: 1160px;
  height: 150px;
  left: 0;
  top: 150px;
  background-color: var(--special-yellow);
  z-index: 1;
} 

.submenu {
  columns: 2;
  padding: 0;
}

.submenu__item {
  margin: 0 61px 20px 60px;
}
.submenu__item a {
  font-family: Open Sans;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  text-transform: none;
  letter-spacing: normal;
}

.main-menu > li:hover .submenu-container {
  display: flex;
  justify-content: flex-start;
}

.decor-rectangle__white {
  position: absolute;
  width: 100px;
  height: 7px;
  left: 600px;
  top: 205px;
  background-color: var(--basic-white);
}



/* Promo-Slide*/

.slider {
  display: none;
  position: absolute;
  width: 1024px;
  height: 506px;
  top: 192px;
}

.slide {
  display: absolute;
  margin-bottom: 98px;
  max-width: 1024px;
  max-height: 506px;
}

.slide__item {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.slide-description {
  
}

.slide__number {
  position: absolute;
  width: 212px;
  left: 812px;
  top: 0px;
  font-weight: 800;
  font-size: 179px;
  line-height: 219px;
  text-transform: uppercase;
  color: var(--basic-white);
}

.slide__title {
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
}
.slide__item img {
}
.slide__text {
  font-family: Open Sans;
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 60px;
}

.slide__features {
  font-family: Gilroy;
  letter-spacing: 1.6px;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
.slide__features p {
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;
}

.slide__features span {
  font-size: 36px;
  line-height: 42px;
}

.btn-details {
  margin-bottom: 60px;
}
.dots {
  text-align: center;
}
.dot {
  display: inline-block;
  position: absolute;
  width: 12px;
  height: 12px;
  left: 971px;
  top: 357px;
  cursor: pointer;
  margin: 0 18px;
  border-radius: 50%;
  border: 1px solid var(--basic-black);
  box-sizing: border-box;
}

.active, 
.dot:hover {

}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}



/* Main */

.main-page .container {
  padding: 0;
}


/* Popular */

.popular {
  position: relative;
  max-width: 1160px;
  padding: 0;
}

.popular__container {
  margin: 0 auto;
}
.popular__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  
  margin: 0;
  padding: 0;
  list-style: none;
}

.popular__item {

}
.popular__item:last-child {
  margin-right: 0;
}
.popular__item-wrapper {
  width: 160px;
  height: 160px;
  text-align: center;
  background-color: var(--special-yellow);
}
.popular__item > img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.popular__title {
  font-family: Gilroy;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px; 
  letter-spacing: 0.8px;
}



/* Services */

.services__list {
  margin: 0;
  padding: 0;
  list-style: none;
}



/* Logotypes */
.logotypes {
  margin-top: 90px;
  margin-bottom: 90px;
}

.logotypes__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Info-wrapper */
.info-wrapper {
  margin-top: 90px;
  margin-bottom: 86px;
}

.info-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 127px;
  margin: 0;
  padding: 0;
  list-style: none;

}

.about__title {
  margin-bottom: 50px;
}

.contacts__title {
  margin-bottom: 53px;
}

.about__title,
.contacts__title {
  font-family: Gilroy;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 3.2px;
}

.decor-rectangle__black,
.decor-rectangle__black {
  width: 80px;
  height: 7px;
  background-color: var(--basic-black);
}

.about__us,
.about__delivery {
  font-family: Open Sans;
  font-size: 15px;
  line-height: 28px;
}

.about__us.decor-rectangle__black {
  margin-bottom: 50px;
}

.contactss.decor-rectangle__black {
  margin-bottom: 53px;
}

.about__us {
  margin-bottom: 40px;
}

.about__delivery {
  margin-bottom: 61px;
}

.delivery {
  margin-bottom: 84px;
}

.delivery__company {
  margin-bottom: 19.81px;
}

.delivery__company a {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 28px;
}

.address__text {
  font-family: Open Sans;
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 40px;
}

.address__map {
  width: 560px;
  margin-bottom: 85px;
}
/* Buttons*/

.btn {
  width: 260px;
  position: relative;
  display: inline-block;
  font-family: Gilroy;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 3.2px;
  text-transform: uppercase;
  text-align: center;
  z-index: 1;
}

.services__btn {
  width: 160px;
  position: relative;
  display: inline-block;
  font-family: Gilroy;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 3.2px;
  text-transform: uppercase;
  text-align: center;
  color: var(--basic-black);
  z-index: 1;
}

.btn::before,
.services__btn::before {
  content: "";
  border-top: 8px solid var(--special-yellow-dark);
  margin: 0 auto;
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
}

.btn:hover::before {
  content: "";
  border-top: 40px solid var(--special-yellow-dark);
  position: absolute;
  top: -40%;
}

/* Breadcrumbs */

.page-catalog__title {
  font-family: Gilroy;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
}

.breadcrumbs a {
  font-family: Open Sans;
  font-size: 14px;
  line-height: 19px;
  opacity: 0.3;
}

.breadcrumbs a:hover:not(:last-child) {
  opacity: 0.6;
}

.breadcrumbs a:active:not(:last-child) {
  opacity: 0.1;
}

.breadcrumbs-arrow {
  left: 17.14%;
}




/* Sort */

.sort {
  width: 1440px;
  height: 70pxÐ¥
  background-color: var(--basic-grey-light);
}

.sort__arrows,
.sort__list {
  list-style: none;
}

.sort__title {
  font-family: Gilroy;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 1.6px;
  text-transform: uppercase;
}

.sort__list li,
.sort__arrows li {
  display: inline-block;
}

.sort__by a {
  font-family: Open Sans;
  font-size: 14px;
  line-height: 19px;
  opacity: 0.3;
}

.sort__by a:hover {
  opacity: 0.6;
}

.sort__by a:active {
  opacity: 1;
}




/* Filter */

.filter {
  width: 468px;
  height: 1214px;
  background-color: var(--basic-grey-light);
}

.filter-title {
  font-family: Gilroy;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 1.6px;
  text-transform: uppercase;
}

.filter__form {
  display: block;
}

fieldset {
  border: none;
}

.filter__price legend {
  border-top: 2px solid var(--basic-black);
  width: 200px;
  height: 33px;
}

.filter__price span {
  font-family: Gilroy;
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
  margin-top: 14px;
  margin-right: 117px;
}

/*
.filter__price-slider input[type=range]::range-track {
  width: 200px;
  height: 2px;
  background-color: var(--basic-black);
  opacity: 0.2;
}

.filter__price-slider input[type=range]::range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: white;
  border: none;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.18);
}

.filter__price-slider input[type=range]::range-progress {
  height: 2px;
  background-color: #91C92F;
  border: none;
}
*/

.filter__color legend {
  border-top: 2px solid var(--basic-black);
  width: 200px;
  height: 33px;
}

.filter__color span {
  font-family: Gilroy;
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
  margin-top: 14px;
  margin-right: 117px;
}

.filter__bluetooth legend {
  border-top: 2px solid var(--basic-black);
  width: 200px;
  height: 33px;
}

.filter__bluetooth span {
  font-family: Gilroy;
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
  margin-top: 14px;
  margin-right: 117px;
}

input[type=checkbox] {
  width: 24px;
  height: 24px;
  border: 2px solid var(--basic-black);
  box-sizing: border-box;
  border-radius: 2px;
}

input[type=radio] {
  width: 24px;
  height: 24px;
  border: 2px solid var(--basic-black);
  box-sizing: border-box;
}

fieldset > label {
  font-family: Open Sans Light;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
}



/* Catalog items */

.catalog-items h3 {
  font-family: Gilroy;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
}

.item-price {
  font-family: Gilroy;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.05em;
  color: var(--basic-black);

}




/*  Pagination  */

.pagination__wrapper {
  width: 760px;
  height: 70px;
  background-color: #ebebeb;
}

.pagination__list {
  list-style: none;
}

.pagination__list li {
  display: inline-block;
}

.pagination__list a {
  font-family: Gilroy;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  opacity: 0.3;
}

.current-page a,
.next a,
.prev a {
  opacity: 1;
}

.page:hover,
.next:hover,
.prev:hover {
  width: 120px;
  height: 70px;
  opacity: 1;
  background-color: #d9d9d9;
}

.page:active,
.next:active,
.prev:active {
  opacity: 0.3;
}

/*   Footer   */

.page-footer {

}
.main-footer {
  width: 1440px;
  height: 324px;
  background-color: var(--basic-dark);
}

.main-footer .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer-nav__list,
.footer-nav__item,
.social__list {
  list-style: none;
}

.footer-nav__item a {
  font-family: Gilroy;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 3.2px;
  text-transform: uppercase;
  color: var(--basic-white);
}

.footer-address,
.tel a {
  font-family: Open Sans;
  font-size: 15px;
  line-height: 20px;
  color: var(--basic-white);
}

.footer-nav__item a {
  font-family: Open Sans;
  font-size: 15px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.7);
}

.decor-rectangle__yellow {
  width: 80px;
  height: 7px;
  left: 140px;
  top: 239px;
  background-color: var(--special-yellow-dark);
}



/* Forms */

/*
.modal {
  background-color: var(--basic-white);
  box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.15);
}

.contact-us {
  width: 960px;
  height: 550px;
}

.contact-us__username label,
.contact-us__email label,
.contact-us__text-field label {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  color: var(--basic-black);
}

.contact-us__text-field textarea {
  width: 760px;
  height: 167px;
  background-color: #f2f2f2;
  border: none;
}

.contact-us__username input,
.contact-us__email input {
  width: 360px;
  height: 50px;
  background-color: #f2f2f2;
  border: none;
}

.contact-us__username input:hover,
.contact-us__email input:hover {
  background-color: #eaeaea;
}

.contact-us__username input:invalid,
.contact-us__email input:invalid {
  background-color: #f6dada;
}

.contact-us__username input:focus,
.contact-us__email input:focus {
  background-color: var(--basic-white);
  border: 2px solid var(--special-yellow);
  box-sizing: border-box;
}

.contact-us__username input,
.contact-us__email input,
.contact-us__text-field textarea {
  font-family: Gilroy;
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.4);
}

.map-modal {
  width: 994px;
  height: 593px;
  background-color: var(--basic-white);
  background-image: url("/img/map_popup.png");
  background-position: center;
  background-repeat: no-repeat;
}
*/
