/* Fonts */

/* open-sans-300 - latin_cyrillic */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"), url("../fonts/web/opensanslight.woff2") format("woff2"), url("../fonts/web/opensanslight.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-regular - latin_cyrillic */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url("../fonts/web/opensans.woff2") format("woff2"), url("../fonts/web/opensans.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* gilroy-300 */
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/web/gilroylight.woff2") format("woff2"), url("../fonts/web/gilroylight.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* gilroy-300 bold */
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("../fonts/web/gilroyextrabold.woff2") format("woff2"), url("../fonts/web/gilroyextrabold.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

*, *::before, *::after {
  box-sizing: border-box;
}

/* Variables */

.visually-hidden,
.screenreader {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
  white-space: nowrap;
}

:root {
  --basic-black: #000000;
  --basic-dark: #363636;
  --basic-grey: #464646;
  --basic-half-grey: #7e7e7e;
  --basic-grey-light: #e5e5e5;
  --basic-white: #ffffff;
  --special-yellow-dark: #f0c52e;
  --special-yellow: #f7e296;
  --special-green: #91c92f;
  --status-pink: #f6dada;
  --transparent-black-strong: rgba(0, 0, 0, 0.3);
  --transparent-black-light: rgba(0, 0, 0, 0.6);
  --transparent-white-strong: rgba(255, 255, 255, 0.3);
}







/* Global */

body {
  min-width: 1440px;
  margin: 0;
  padding: 0;
  font-family: "Gilroy","Open Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 15px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  background-position: top;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
  color: var(--basic-black);
}

img {
  max-width: 100%;
  height: auto;
}


html,
body {
  min-width: 1440px;
  min-height: 2800px;
  background-color: var(--basic-white);
}

/* Grid */

.page-body {
  height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: flex-start;

}


/* Header */

.main-header {
  margin-bottom: 76px;
}

.container {
  width: 1160px;
  margin: 0 auto;
}
.header-navigation {
  position: relative;
  width: 100%;
  height: 334px;
  margin-top: 20px;
}

.decor-rectangle__white {
  position: absolute;
  width: 100px;
  height: 7px;
  left: 600px;
  top: 225px;
  background-color: var(--basic-white);
  z-index: 1;
}

.header-navigation__logo {
  position: absolute;
  width: 163px;
  height: 35px;
  top: 0;
  left: 60px;

  background-image: url("/img/svg-device/logo-device.svg");
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
}

.header-navigation__wrapper {
  position: absolute;
  width: 100%;
  height: 300px;
  top: 20px;
  background-color: var(--special-yellow);
}

.catalog-header {
  height: 226px;
}

.catalog-header__wrapper {
  position: absolute;
  width: 100%;
  height: 186px;
  margin-top: 20px;
  background-color: var(--special-yellow);
}


/* Header container */

.user-nav__wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  margin-top: 44px;
  padding-left: 60px;
  padding-right: 60px;
}

.main-header__wrapper .container {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-top: 44px;
}

.catalog-header__wrapper .container {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-top: 44px;
}

/* Search-form */


.search-form {
  justify-self: flex-end;
  margin-right: auto;
  text-align: left;
  flex-basis: auto;
}

.search-form input[type=text] {
  margin-left: 38px;
  padding: 0;
  font-family: "Open Sans light";
  font-size: 15px;
  line-height: 20px;
  color: var(--transparent-black-strong);

  background-color: transparent;
  border: none;
}


/*
.search-form:focus {
  width: 440px;
  border-bottom: 2px solid var(--basic-black);
}
.search-form input[type=text]:hover {
  color: var(--transparent-black-light);
}

.search-form input[type=text]:focus {
  position: absolute;
  padding-bottom: 15px;
  border-bottom: 2px solid var(--basic-black);
}
*/
.search-form button[type=submit] {
  display: none;
  width: 84px;
  padding: 13px 15px 15px 15px;
  font-family: "Open Sans";
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  border: 2px solid var(--basic-black);
  border: none;
  background-color: transparent;
}
.search-form button[type=submit]:focus {
  display: block;
}


form.search-form::after {
  content: "";
  clear: both;
  display: table;
}



/* User-navigation */

.user-navigation {
  display: flex;
  justify-content: flex-end;
  width: 500px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.user-navigation__item {
  display: inline-block;
  align-items: flex-end;
}

.user-navigation__item a {
  font-family: "Open Sans light";
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  padding-left: 11px;
}

.user-navigation__item.user-link {
  margin-right: 9px;
}

.user-navigation__item.user-link a {
  padding-left: 11px;
}

.user-navigation__item.login-link a {
  padding-left: 11px;
}

.user-navigation__item.compare-link {
  margin-left: auto;
}
.user-navigation__item.cart-link {
  margin-right: 0;
  margin-left: 43px;
}

.user-navigation__item.cart-link a {
  padding-left: 9px;
}

.user-navigation__item a:hover {
  color: var(--transparent-black-light);
}

.user-navigation__item a:focus {
  color: var(--transparent-black-strong);
}

.main-menu,
.submenu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-menu {
  display: flex;
  justify-content: flex-start;
  padding-left: 60px;
  padding-right: 60px;
}

.main-menu__item {

}

.main-menu__item a {
  font-family: "Gilroy";
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.main-menu__item.main-catalog > a {
  letter-spacing: 0.1em;
  padding-right: 16px;
}

.main-menu__item.main-catalog  {
  justify-self: flex-start;
  margin-right: 313px;
  align-self: center;
}

.main-menu__item.main-warranty {
  margin-left: 35px;
}

.main-menu__item.main-contacts {
  justify-self: flex-end;
  margin-left: auto;
  margin-right: 0;
  width: 119px;
}

.submenu-container {
  position: absolute;
  display: none;
  width: 1160px;
  height: 146px;
  left: 0;
  top: 154px;
  background-color: var(--special-yellow);
  z-index: 2;

  padding-left: 60px;
  padding-right: 60px;
}

.main-menu__item.main-catalog {
  display: inline-block;
}

.main-menu__item a:hover {
  color: var(--transparent-black-light);
}

.main-menu__item a:focus {
  color: var(--transparent-black-strong);
}

.submenu {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 146px;
  align-content: flex-start;
  padding-top: 12px;

}

.submenu__item {
  padding-bottom: 16px;
}

.submenu__item {
  display: inline;
  margin-right: 63px;
}
.submenu__item a {
  font-family: "Open Sans light";
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  text-transform: none;
  letter-spacing: normal;
}

.main-menu__item.main-catalog:hover .submenu-container {
  display: block;
}


/* Promo-Slide*/

.slider {
  display: none;
  position: absolute;
  width: 1024px;
  top: 194px;
  z-index: 1;
  margin-left: 88px;
  margin-right: 48px;
}

.slide {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 127px;
  max-width: 1024px;
  max-height: 506px;
}

.slide__item {

  list-style: none;
}

.slide-description {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.slide__number {
  position: absolute;
  width: 212px;
  left: 812px;
  top: 0px;
  font-weight: 800;
  font-size: 179px;
  line-height: 219px;
  text-transform: uppercase;
  color: var(--basic-white);
}

.slide__title {
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
}

.slide__text {
  font-family: "Open Sans light";
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 60px;
}

.slide__features {
  margin: 0;
  margin-right: 117px;
  margin-bottom: 20px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  font-family: Gilroy;
  letter-spacing: 0.1em;
  list-style: none;
}

.slide__features p {
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;
}

.slide__features span {
  font-size: 36px;
  line-height: 42px;
}

.btn-details {
  margin-bottom: 60px;
}

.dots {
  text-align: center;
}

.dot {
  display: inline-block;
  position: absolute;
  width: 12px;
  height: 12px;
  left: 971px;
  top: 357px;
  cursor: pointer;
  margin: 0 18px;
  border-radius: 50%;
  border: 1px solid var(--basic-black);
  box-sizing: border-box;
}




/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


/* Main */
.main-page .container {
  padding: 0;
}

/* Popular */

.popular {
  position: relative;
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 49px;
}

.popular__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
  padding-top: 20px;
  padding-bottom: 20px;
}

.popular__item {
  margin-right: 40px;
}

.popular__item:last-child {
  margin-right: 0;
}

.popular__item-wrapper {
  width: 160px;
  height: 160px;
  margin-bottom: 38px;
  background-color: var(--special-yellow);
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.virtual {
  background-image: url(/img/svg-device/popular-1.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.monopodes {
  background-image: url(/img/svg-device/popular-2.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.cameras {
  background-image: url(/img/svg-device/popular-3.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.fitness {
  background-image: url(/img/svg-device/popular-4.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.watch {
  background-image: url(/img/svg-device/popular-5.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.quadro {
  background-image: url(/img/svg-device/popular-6.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.popular__title {
  display: inline;
  margin: 0;
  padding: 0;
  font-family: "Gilroy";
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
}

.popular__item:nth-child(4) .popular__title {
  letter-spacing: normal;
}


/* Services */


.services {
  position: relative;
  width: 1440px;
  margin-bottom: 90px;
}

.services__wrapper {
  display: none;
  position: absolute;
  width: 1440px;
  height: 288px;
  left: 0px;
  top: 115px;
  background-color: var(--basic-grey-light);
}

.services__list {
  display: none;
  position: absolute;
  flex-direction: row;
  justify-content: start;
  display: flex;
  margin: 0;
  padding: 0;
  top: 86px;
  left: 140px;
  list-style: none;
}

.services__item {
  position: absolute;
}

/* Logotypes */

.logotypes {
  margin-bottom: 90px;
}

.logotypes__list {
  display: flex;
  justify-content: space-between;
  height: 100px;
  margin: 0;
  padding: 0;
  list-style: none;
}


/* Info-wrapper */

.info-columns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 86px;
}

.about {
  width: 473px;
}

.contacts {
  width: 560px;
}

.decor-rectangle__black {
  width: 80px;
  height: 7px;
  background-color: var(--basic-black);
}

.about__title,
.contacts__title {
  margin-top:55px;
  margin-bottom: 45px;
  font-size: 47px;
  font-weight: 800;
  line-height: 48px;
  letter-spacing: 0.2em;
}

.about__us,
.address__text,
.about__delivery {
  margin-bottom: 8px;
  font-family: "Open Sans Light";
  font-weight: 300;
  font-size: 15px;
  line-height: 28px;
}

.about__us {
  margin-bottom: 40px;
}

.address__text {
  margin-bottom: 40px;
  margin-top: 37px;
}

.about__delivery {
  margin-bottom: 60px;
}

.delivery {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 78px;
}

.delivery__company {
  margin-top: 15px;
}

.delivery__company a {
  font-family: "Gilroy";
  font-weight: 800;
  font-size: 16px;
  line-height: 28px;
  margin-top: 15px;
}
.delivery__company:last-child {
  margin-top: 14px;
}
.delivery__company::before {
  content: '';
  display: inline-block;
  border: 2px solid var(--basic-grey-light);
  border-radius: 100%;
  width: 8px;
  height: 8px;
  margin-right: 24px;
  vertical-align: middle;
}

.map {
  margin-bottom: 81px;
}

.info__link.btn,
.contacts__link.btn {
  margin: 0;
  padding-left: 6px;
}

.contacts__link.btn {
  margin: 0;
  padding-left: 3px;
}


/* Buttons*/

.btn {
  width: 260px;
  position: relative;
  display: inline-block;
  z-index: 1;
  font-family: "Gilroy";
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
}


.services__btn {
  width: 160px;
  position: relative;
  display: inline-block;
  z-index: 1;
  font-family: "Gilroy";
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.btn::before,
.services__btn::before {
  content: "";
  border-top: 8px solid var(--special-yellow-dark);
  margin: 0 auto;
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
}

.btn:hover::before {
  content: "";
  border-top: 40px solid var(--special-yellow-dark);
  position: absolute;
  top: -40%;
}




/*  Catalog  */

.page-catalog__title {
  margin-top: 44px;
  margin-bottom: 30px;
  margin-left: 60px;
  font-family: "Gilroy";
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
}

.page-catalog__title {
  font-family: "Gilroy";
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
}

/* Breadcrumbs */

.breadcrumbs {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  list-style: none;
}

.breadcrumbs li {
  margin-right: 20px;
}
.breadcrumbs li:nth-child(3) {
  margin-right: 0;
}
.breadcrumbs a {
  font-family: "Open Sans light";
  font-size: 14px;
  line-height: 19px;
  opacity: 0.3;

  margin-right: 13px;
}

.breadcrumbs a:hover:not(:last-child) {
  opacity: 0.6;
}

.breadcrumbs a:active:not(:last-child) {
  opacity: 0.1;
}

.breadcrumbs-arrow {
}




/* Sort */

.sort {
  width: 1440px;
  height: 70px;
  background-color: var(--basic-grey-light);
}

.sort__arrows,
.sort__list {
  list-style: none;
}

.sort__title {
  font-family: "Gilroy";
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 1.6px;
  text-transform: uppercase;
}

.sort__list li,
.sort__arrows li {
  display: inline-block;
}

.sort__by a {
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 19px;
  opacity: 0.3;
}

.sort__by a:hover {
  opacity: 0.6;
}

.sort__by a:active {
  opacity: 1;
}




/* Filter */

.filter {
  width: 468px;
  height: 1214px;
  background-color: var(--basic-grey-light);
}

.filter-title {
  font-family: "Gilroy";
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 1.6px;
  text-transform: uppercase;
}

.filter__form {
  display: block;
}

fieldset {
  border: none;
}

.filter__price legend {
  border-top: 2px solid var(--basic-black);
  width: 200px;
  height: 33px;
}

.filter__price span {
  font-family: "Gilroy";
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
  margin-top: 14px;
  margin-right: 117px;
}

/*
.filter__price-slider input[type=range]::range-track {
  width: 200px;
  height: 2px;
  background-color: var(--basic-black);
  opacity: 0.2;
}

.filter__price-slider input[type=range]::range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: white;
  border: none;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.18);
}

.filter__price-slider input[type=range]::range-progress {
  height: 2px;
  background-color: #91C92F;
  border: none;
}
*/

.filter__color legend {
  border-top: 2px solid var(--basic-black);
  width: 200px;
  height: 33px;
}

.filter__color span {
  font-family: Gilroy;
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
  margin-top: 14px;
  margin-right: 117px;
}

.filter__bluetooth legend {
  border-top: 2px solid var(--basic-black);
  width: 200px;
  height: 33px;
}

.filter__bluetooth span {
  font-family: Gilroy;
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
  margin-top: 14px;
  margin-right: 117px;
}

input[type=checkbox] {
  width: 24px;
  height: 24px;
  border: 2px solid var(--basic-black);
  box-sizing: border-box;
  border-radius: 2px;
}

input[type=radio] {
  width: 24px;
  height: 24px;
  border: 2px solid var(--basic-black);
  box-sizing: border-box;
}

fieldset > label {
  font-family: Open Sans Light;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
}



/* Catalog items */

.catalog-items h3 {
  font-family: Gilroy;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
}

.item-price {
  font-family: Gilroy;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.05em;
  color: var(--basic-black);

}




/*  Pagination  */

.pagination__wrapper {
  width: 760px;
  height: 70px;
  background-color: #ebebeb;
}

.pagination__list {
  list-style: none;
}

.pagination__list li {
  display: inline-block;
}

.pagination__list a {
  font-family: Gilroy;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  opacity: 0.3;
}

.current-page a,
.next a,
.prev a {
  opacity: 1;
}

.page:hover,
.next:hover,
.prev:hover {
  width: 120px;
  height: 70px;
  opacity: 1;
  background-color: #d9d9d9;
}

.page:active,
.next:active,
.prev:active {
  opacity: 0.3;
}

/*   Footer   */

.main-footer {
  min-width: 1440px;
  height: 324px;
}
.main-footer__wrapper {
  width: 100%;
  height: 324px;
  background-color: var(--basic-dark);
}

.main-footer-navigation {
  margin: 0 auto;
  position: relative;
  width: 100%;
  height: 324px;
  padding-top: 46px;
  padding-bottom: 65px;

}

.footer__logo {
  position: absolute;
  width: 163px;
  height: 35px;
  top: 64px;
  z-index: 1;
}

.footer-nav__list,
.footer-user-nav,
.social__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-user-nav {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 72px;

}

.footer-user-nav__item {
  margin-right: 42px;
}

.footer-user-nav__item a {
  font-family: "Open Sans Light";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;

  padding-left: 10px;
  color: var(--transparent-white-strong);
}

.footer-user-nav__item:last-child a {
  padding-left: 9px;
}
.footer-user-nav__item:nth-child(2) a{
  padding: 0;
}
.footer-user-nav__item:first-child {
  margin-right: 24px;
}

.footer-user-nav__item:last-child {
  margin-right: 0;
}
.footer-user-nav__item:first-child a{
  padding-left: 13px;
}

.footer-main-nav__wrapper {
  display: inline;
  margin-right: 200px;
  margin-left: 165px;
}

.footer-main-nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 67px;
}

.footer-nav__list {
  display: flex;
  justify-content: flex-start;
}

.footer-nav__item a {
  font-family: "Gilroy";
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--basic-white);
}
.footer-nav__item:nth-child(2) {
  margin-left: 33px;
  margin-right: 33px;
}

.footer-address,
.tel {
  font-family: "Open Sans light";
  font-size: 15px;
  line-height: 20px;
  color: var(--basic-white);
  letter-spacing: normal;
  align-self: center;
}

.tel {
  margin: 0;
}

.footer-address {
  font-style: normal;
}
.social {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.social__list {
  display: flex;
  width: 136px;
  justify-content: space-between;
  opacity: 0.7;
}


.insta {
  width: 32px;
  height: 32px;
  background-image: url("/img/svg-device/icon_instagram.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.fb {
  width: 32px;
  height: 32px;
  background-image: url("/img/svg-device/icon_facebook.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.twit {
  width: 32px;
  height: 32px;
  background-image: url("/img/svg-device/icon_twitter.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.decor-rectangle__yellow {
  position: absolute;
  width: 80px;
  height: 7px;
  top: 239px;
  background-color: var(--special-yellow-dark);
  z-index: 1;
}

.copyright {
  position: absolute;
  width: 27px;
  height: 34px;
  top: 226px;
  right: 0;


  background-image: url("/img/svg-device/logo-html.svg");
  background-position: center;
  background-repeat: no-repeat;
}


/* Forms */

/*
.modal {
  background-color: var(--basic-white);
  box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.15);
}

.contact-us {
  width: 960px;
  height: 550px;
}

.contact-us__username label,
.contact-us__email label,
.contact-us__text-field label {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  color: var(--basic-black);
}

.contact-us__text-field textarea {
  width: 760px;
  height: 167px;
  background-color: #f2f2f2;
  border: none;
}

.contact-us__username input,
.contact-us__email input {
  width: 360px;
  height: 50px;
  background-color: #f2f2f2;
  border: none;
}

.contact-us__username input:hover,
.contact-us__email input:hover {
  background-color: #eaeaea;
}

.contact-us__username input:invalid,
.contact-us__email input:invalid {
  background-color: #f6dada;
}

.contact-us__username input:focus,
.contact-us__email input:focus {
  background-color: var(--basic-white);
  border: 2px solid var(--special-yellow);
  box-sizing: border-box;
}

.contact-us__username input,
.contact-us__email input,
.contact-us__text-field textarea {
  font-family: Gilroy;
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.4);
}

.map-modal {
  width: 994px;
  height: 593px;
  background-color: var(--basic-white);
  background-image: url("/img/map_popup.png");
  background-position: center;
  background-repeat: no-repeat;
}
*/
